allure-behave==2.5.1
allure-pytest==2.5.1
allure-python-commons==2.5.1
atomicwrites==1.2.1
attrs==18.2.0
auth==0.5.3
behave==1.2.6
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
colorama==0.3.9
dnspython==1.15.0
eventlet==0.24.1
falcon==1.4.1
greenlet==0.4.14
gunicorn==19.9.0
idna==2.7
mongoengine==0.15.3
monotonic==1.5
more-itertools==4.3.0
pluggy==0.7.1
py==1.6.0
pymongo==3.7.1
pytest==3.8.0
pytest-parallel==0.0.2
pytest-rerunfailures==4.1
python-mimeparse==1.6.0
requests==2.20.0
six==1.11.0
urllib3==1.23
Werkzeug==0.15.3
webdriver-manager==1.7
selenium==3.14.0